<%- include('./partials/header'); %> 

<h1>This is the about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vero, suscipit, qui delectus sapiente tempora sequi dolorum vitae placeat consectetur quis! Reprehenderit, animi repellendus. Voluptates unde minima voluptatibus error ipsum fuga quae pariatur sit quaerat rerum, qui quas culpa ipsam quasi beatae eveniet adipisci sapiente praesentium amet earum perferendis quam molestias alias. Sapiente aspernatur doloremque sint ea ipsa nesciunt ut architecto vitae amet alias repudiandae aperiam porro quisquam molestiae iusto fugiat laudantium, sequi nam maxime fugit repellat odio saepe eius. Ea, nulla. Quis placeat voluptates necessitatibus. Velit, dolorum est sunt, provident optio aliquid necessitatibus mollitia debitis pariatur ab explicabo vel?</p>

<%- include('./partials/footer'); %> 